{% extends "base.html" %}

{% block title %} Contact {% endblock %}

{% block content %}
    <h1
      class="text-5xl text-center m-3 p-3 hover:text-green-500 border-r-50"
    >
      Page de Contact
    </h1>

    <div class="bg-blue-200 m-3 rounded-lg">
        <div class="bg-white mx-16 my-4">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit quasi
          sapiente illum vitae nemo. Assumenda numquam dolorum dignissimos adipisci.
          Ex, impedit odio esse rem aspernatur at harum eos ullam nam quis, eum
          facilis? Repellat tempora omnis minima amet natus pariatur quibusdam nemo
          dignissimos odio soluta ducimus voluptas atque, exercitationem ipsum
          deserunt totam repudiandae, architecto inventore quidem debitis sunt
          consequatur. Impedit officiis quos doloribus animi iure blanditiis
          consequuntur aliquam eum, qui ducimus maxime itaque necessitatibus ea
          tenetur iusto dolor veritatis obcaecati architecto corporis distinctio quis
          rem! Ipsum provident pariatur accusamus ea voluptas tempore amet reiciendis
          eum, quam numquam repellat, odit ipsa itaque tempora magnam, nihil eaque
          eveniet distinctio fugit! Sapiente rem veritatis earum dolorem provident
          quidem id, dolores explicabo exercitationem cupiditate repellat! Nobis
          veniam, tempore odit dolorum consectetur vitae! Cumque dolorem doloremque
          perspiciatis voluptas excepturi facilis cupiditate animi, nesciunt tempore
          reiciendis numquam amet iure odit architecto quae deleniti laboriosam,
          tenetur ipsa?
        </div>
      </div>

{% endblock %}

